<ngx-loading-bar></ngx-loading-bar>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">NewsWeb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-5">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="">Home</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="technews">Tech News</a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="businessnews">Business News</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="health">Health News</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="sports">Sports News</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="science">Science News</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="entertain">Entertainment News</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="mt-2">
  <p class="text-center">&copy;2021 Newsweb</p>
</footer>